/* body {
  padding: 4%;
} */

/* body,
p,
ul,
td,
th {
  margin: 0;
  padding: 0;
} */

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li:first-child {
  font-weight: bold;
}

h2 {
  display: inline-block;
  border-bottom: 2px solid black;
}

.header {
  background-color: aqua;
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.navigation ul {
  background-color: blueviolet;
  align-items: center;
  height: 100%;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

main {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.self-introduction {
  text-align: center;
}

.self-introduction-content {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.name {
  font-weight: bold;
}

.self-introduction-image {
  display: flex;
  align-items: center;
  background-color: blue;
}

.profiles {
  display: flex;
  justify-content: space-between;
  width: 960px;
  background-color: chartreuse;
}

.profile-image {
  border-radius: 100%;
}

.profile-images {
  text-align: center;
}

.main-image {
  margin-bottom: 50px;
}

.main-image img {
  width: 100%;
  background-color: darkorange;
}

.profile {
  display: inline-block;
  width: 33%;
  margin: 8px;
  background-color: deepskyblue;
  text-align: center;
}

.profile img {
  width: 100%;
}

.profile li {
  padding: 4px;
}

footer {
  text-align: center;
  background-color: aquamarine;
}
@media screen and (max-width: 600px) {
  .footer {
    background-color: red;
  }
}
