ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li:first-child {
  font-weight: bold;
}

h2 {
  display: inline-block;
  border-bottom: 2px solid black;
}

header {
  background-color: aqua;
  display: flex;
  width: 100%;
  /* width: 120%; */
  justify-content: space-between;
  /* margin-right: auto;
  margin-left: auto; */
}
@media screen and (max-width: 600px) {
  header {
    background-color: red;
    justify-content: space-around;
  }
}

footer {
  text-align: center;
  background-color: aquamarine;
}
@media screen and (max-width: 600px) {
  .footer {
    background-color: red;
  }
}

.navigation ul {
  /* background-color: blueviolet; */
  align-items: center;
  height: 100%;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

main {
  /* width: 960px; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title-wrapper {
  text-align: center;
}

.self-introduction-content {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .self-introduction-content {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.name {
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  #name {
    display: flex;
    color: green;
    justify-content: center;
  }
}

.self-introduction-image {
  display: flex;
  align-items: center;
  /* background-color: blue; */
}

.profiles {
  display: flex;
  justify-content: space-between;
  /* width: 960px; */
  /* background-color: chartreuse; */
}

.profile-image {
  border-radius: 100%;
}

.profile-images {
  text-align: center;
  background-color: darkorange;
}
@media screen and (max-width: 600px) {
  .profiles {
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-image {
  margin-bottom: 50px;
}

.main-image img {
  width: 100%;
  /* background-color: darkorange; */
}

.profile {
  display: inline-block;
  width: 33%;
  margin: 8px;
  /* background-color: deepskyblue; */
  text-align: center;
}

.profile img {
  width: 100%;
}

.profile li {
  padding: 4px;
}
