body {
  max-width: 960px;
  padding: 0 4%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h2 {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid black;
}

h1 {
  padding: 10px;
  background-color: #00071a;
}

h1 a {
  color: white;
  text-decoration: none;
}

header {
  /* max-width: 960px;
  padding: 0 4%; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

main {
  /* max-width: 960px;
  padding: 4%; */
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

footer {
  /* max-width: 960px;
  padding: 4%; */
  text-align: center;
}

.title-wrapper {
  margin-left: 20px;
}

.navigation ul {
  align-items: center;
  height: 100%;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title-wrapper {
  text-align: center;
}

.self-introduction-content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.name {
  font-weight: bold;
}

.self-introduction-image {
  display: flex;
  align-items: center;
}

.profiles {
  display: flex;
  justify-content: space-between;
}

.profile ul li:first-child {
  font-weight: bold;
}

.profile-image {
  border-radius: 100%;
}

.main-image {
  max-width: 1920px;
  margin-bottom: 32px;
  object-fit: cover;
  /* background-color: blue; */
}

.main-image-test {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}
/* 
#test-id {
  width: 100%;
  padding: 0;
} */

.main-image img {
  height: 600px;
}

.profile {
  display: inline-block;
  width: 33%;
  margin: 8px;
  text-align: center;
}

.profile img {
  width: 100%;
}

.profile li {
  padding: 4px;
}

@media screen and (max-width: 600px) {
  #name {
    display: flex;
    justify-content: center;
  }

  /* #test-id {
    width: 100%;
    padding: 0;
    object-fit: cover;
  } */

  header {
    justify-content: space-evenly;
  }
  .navigation {
    justify-content: space-between;
  }

  .main-image-test {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    object-fit: cover;
  }

  .self-introduction-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
  }

  .profile {
    width: 100%;
  }

  .profile-image-one {
    width: 100%;
  }
  .image-wrapper {
    margin: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
}

@media screen and (max-width: 398px) {
  header {
    font-size: 3vmin;
  }
}
