main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

main div.animal {
  /*（全体の幅 - gapでつけた余白の合計）をカラム数で割る */
  width: calc((100% - 20px) / 3);
}

body {
  background-color: rgb(237, 237, 211);
}

h1 {
  text-align: center;
}

.radios-container {
  text-align: center;
}
